body {
  background-image: url('../img/books1.jpg'); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.header {
  margin-top: 110px;
  font-family: 'Playfair Display', serif;
}
div h1 {
  color: white;
}
button.btn-info {
  background-color: black;
}
